!!! 5
%html{html_attrs('en-AU')}
  %head
    %title musical exploration
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
  %body
    .container
      %a{ :href => '/', :title => 'musical exploration through the sydney powerhouse museum' }
        %h1{ :class => 'pink-bottom-border' }
          musical exploration
      %p
        Make your way through the 
        %a{ :href => 'http://powerhousemuseum.com/', :target => "_blank" }
          powerhouse museum's
        collection of musical-related items... :)
      = yield
      %div{ :id => 'footer' }
        a super-quick hack by
        %a{ :href => "http://jdenn.es", :target => "_blank" }
          james dennes
        utilising the new 
        %a{ :href => 'http://api.powerhousemuseum.com/', :target => "_blank"  }
          powerhouse api
