%h2
  ="#{@subject.name} (#{@subject.items.size} items)"

- if @subject
  -@subject.items.each do |i|
    %div{ :class => 'subject-item' }
      %div{ :class => 'title' }
        %a{ :href => "/item/#{i.id}" }
          =i.title
      %div{ :class => 'description' }
        =i.description